@import 'tailwindcss';

body {
    background-color: #ffffff;
}

@theme {
    /* --- SUPERFICIES (FONDOS) --- */
    --color-bg-primary: #f1f5f9; /* Fondo de la app */
    --color-bg-secondary: #ffffff; /* Cards, Sidebars */
    --color-bg-tertiary: #e2e8f0; /* Inputs, Hovers */

    /* --- TEXTO --- */
    --color-text-primary: #0f172a; /* Títulos y cuerpo principal */
    --color-text-secondary: #475569; /* Subtítulos, labels */
    --color-text-tertiary: #64748b; /* Placeholders, texto desactivado */

    /* --- MARCA / ACCIÓN --- */
    --color-brand-primary: #2563eb;
    --color-brand-secondary: #1d4ed8;

    /* --- ESTADOS --- */
    --color-status-success: #5cb85c;
    --color-status-danger: #d9534f;
    --color-status-warning: #f0ad4e;

    /* --- BORDE --- */
    --color-border-primary: #cbd5e1;

    /* --- TAMAÑOS DE FUENTE --- */
    --text-xs: 0.75rem; /* 12px - Notas y captions */
    --text-sm: 0.875rem; /* 14px - Texto secundario o interfaces densas */
    --text-base: 1rem; /* 16px - El estándar para cuerpo de texto */
    --text-lg: 1.125rem; /* 18px - Introducciones o subtítulos pequeños */
}

/* --- TEMA OSCURO --- */
.dark {
    --color-bg-primary: #0f172a;
    --color-bg-secondary: #1e293b;
    --color-bg-tertiary: #334155;

    --color-text-primary: #f8fafc;
    --color-text-secondary: #cbd5e1;
    --color-text-tertiary: #94a3b8;

    --color-brand-primary: #60a5fa;
    --color-brand-secondary: #3b82f6;

    --color-border-primary: #475569;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-border-primary);
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-tertiary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-primary) var(--color-bg-primary);
}

@layer base {
    body {
        @apply bg-bg-primary text-text-primary transition-colors duration-300;
    }
}
